/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 table,tr,th,td
 {
     border: 1px solid black;
 }
.card-panel {
  width:50%;

}
#download-button{

  background-color: #D00509;
}
.page-footer{
color:#414141;
background-color: #414141;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
table{
  width:20%;

}
.container{
  margin: 0 auto;
  max-width:1280px;
  width: 90%;
  height: 90%;
}
h1{
  font-size: 250%;
}
