/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .buttonheart{
 	width: 50px;
 	height: 50px;
   top:50%;
   position: fixed;
 	left: 50%;
 	margin-top: -45px;
 	margin-left: -50px;
 	border-radius: 5px;
 	background: none;
 	cursor: pointer;
 	transition: background 0.5s ease;
 }
 .buttonheart:hover{

 }
 .active#heart:before,.active#heart:after{
 	background: red !important;
 }
 #heart {
     width: 100px;
     height: 90px;
     transition: background 0.5s ease;
 }
 #heart:before,
 #heart:after {
 	transition: background 0.5s ease;
     position: absolute;
     content: "";
     left: 50px;
     top: 0;
     width: 50px;
     height: 80px;
     background: dimgrey;
     border-radius: 50px 50px 0 0;
     transform: rotate(-45deg);
     transform-origin: 0 100%;
 }
 #heart:after {
     left: 0;
     transform: rotate(45deg);
     transform-origin :100% 100%;
 }

.card-panel {
  width:50%;

}
#download-button{

  background-color: #D00509;
}
.page-footer{
color:#414141;
background-color: #414141;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
table{
  width:20%;

}
.container{
  margin: 0 auto;
  max-width:1280px;
  width: 90%;
  height: 90%;
}
h1{
  font-size: 250%;
}
